<section class="bg-stone-200/30 dark:bg-[#1d222b] py-24">
  <div class="bg-center container mx-auto">
    <div class="flex flex-col lg:flex lg:flex-row items-center">
      <article class="">
        <h2
          class="text-start text-3xl text-stone-700 dark:text-fountain-blue-500 pb-10 xl:text-4xl xl:pb-20 px-5 flex items-center gap-5"
        >
          Sobre mí
        </h2>
        <p class="text-stone-700 dark:text-[#fff] px-5 pb-5 text-pretty">
          Hola, mi nombre es Jorge Ruiz, soy desarrollador de software centrado
          en la creación de soluciones tecnológicas eficientes y efectivas. Mi
          trayectoria en el desarrollo abarca desde aplicaciones web hasta
          sistemas de gestión empresarial, siempre con el objetivo de
          proporcionar una experiencia de usuario óptima y funcionalidades de
          primer nivel.
        </p>
        <p class="text-stone-700 dark:text-[#fff] px-5 pb-5 text-pretty">
          Mi enfoque meticuloso y creativo se refleja en soluciones innovadoras
          que impulsan el éxito de los proyectos. Me gusta trabajar en equipo y
          mantenerme al tanto de las nuevas tecnologías y tendencias del
          mercado.
        </p>
        <p class="text-stone-700 dark:text-[#fff] px-5 text-pretty">
          Si estás en la búsqueda de un desarrollador orientado a resultados,
          ¡no dudes en contactarme! Estaré encantado de contribuir al éxito de
          tu proyecto.
        </p>
      </article>
      <figure class="p-5 w-full flex items-center justify-center z-40">
        <div class="wrap-image">
          <img
            src="/images/about.webp"
            class="rounded-md w-96 transition-all duration-300 ease-in-out z-[40]"
            alt="imagen sobre mi"
          />
        </div>
      </figure>
    </div>
  </div>
  <span id="contact"></span>
</section>

<style>
  .wrap-image {
    position: relative;
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      border: 2px solid #00adb5;
      transition: all 0.25s ease-out;
    }
    &::before {
      background-color: #00adb5;
      top: -15px;
      left: -15px;
    }
    &::after {
      bottom: -15px;
      right: -15px;
    }
    &:hover {
      &::before {
        top: 15px;
        left: 15px;
        background-color: #00dede;
        border-color: #00dede;
      }
      &::after {
        bottom: 15px;
        right: 15px;
        border-color: #00dede;
      }
    }
  }
</style>
