<section class="py-24">
  <div class="bg-center container mx-auto">
    <h2
      class="text-start text-3xl text-stone-700 dark:text-fountain-blue-500 pb-10 xl:text-4xl xl:pb-20 px-5 flex items-center gap-5"
    >
      Contáctame
    </h2>
    <p class="text-stone-700 dark:text-[#fff] px-5 pb-5 text-pretty">
      No dude en ponerse en contacto conmigo para cualquier consulta. Estaré
      encantado de atenderle y ayudarle en lo que necesite.
    </p>
    <form>
      <div class="grid grid-cols-12 gap-4 text-stone-700 dark:text-[#fff] px-5">
        <div class="col-span-12 flex flex-col xl:col-span-6">
          <label for="name">Nombres</label>
          <div>
            <input
              class="bg-gray-200 border-2 appearance-none rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border focus:border-yellow-500 transition-all duration-300 ease-in-out"
              type="text"
              id="name"
              placeholder="Jorge Ruiz"
            />
          </div>
        </div>

        <div class="col-span-12 flex flex-col xl:col-span-6">
          <label for="email">Email</label>
          <div>
            <input
              class="bg-gray-200 border-2 appearance-none rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border focus:border-yellow-500 transition-all duration-300 ease-in-out"
              type="email"
              id="email"
              placeholder="joruiz@developercode.dev"
            />
          </div>
        </div>

        <div class="col-span-12 flex flex-col">
          <label for="message">Mensaje</label>
          <div>
            <textarea
              class="bg-gray-200 border-2 appearance-none rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border focus:border-yellow-500 transition-all duration-300 ease-in-out"
              placeholder="Deseo trabajar contigo..."
              id="message"
              rows={10}></textarea>
          </div>
        </div>
        <button
          class="col-span-12 bg-yellow-500 dark:bg-fountain-blue-500 text-fountain-blue-950 hover:bg-fountain-blue-500 dark:hover:bg-yellow-500 transition-all duration-300 ease-in-out rounded-md py-2 mt-4 w-full xl:col-span-3"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>
