<section class="py-24">
  <div class="bg-center container mx-auto">
    <h2
      class="text-start text-3xl text-stone-700 dark:text-fountain-blue-500 pb-10 xl:text-4xl xl:pb-20 px-5 flex items-center gap-5"
    >
      Contáctame
    </h2>
    <p class="text-stone-700 dark:text-[#fff] px-5 pb-5 text-pretty">
      No dude en ponerse en contacto conmigo para cualquier consulta. Estaré
      encantado de atenderle y ayudarle en lo que necesite.
    </p>
    <form>
      <div class="grid grid-cols-12 gap-4 text-stone-700 dark:text-[#fff] px-5">
        <div class="col-span-12 flex flex-col xl:col-span-6">
          <label for="name">Nombres</label>
          <div>
            <input
              class="bg-gray-200 border-2 appearance-none rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-yellow-500 transition-all duration-300 ease-in-out"
              type="text"
              name="name"
              placeholder="Jorge Ruiz"
            />
          </div>
        </div>

        <div class="col-span-12 flex flex-col xl:col-span-6">
          <label for="email">Email</label>
          <div>
            <input
              class="bg-gray-200 border-2 appearance-none rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-yellow-500 transition-all duration-300 ease-in-out"
              type="email"
              name="email"
              placeholder="joruiz@developercode.dev"
            />
          </div>
        </div>

        <div class="col-span-12 flex flex-col">
          <label for="message">Mensaje</label>
          <div>
            <textarea
              class="bg-gray-200 border-2 appearance-none rounded-md w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-2 focus:border-yellow-500 transition-all duration-300 ease-in-out"
              placeholder="Deseo trabajar contigo..."
              name="message"
              rows={10}></textarea>
          </div>
        </div>
        <button
          type="submit"
          id="btnSend"
          class="col-span-12 bg-yellow-500 dark:bg-fountain-blue-500 text-fountain-blue-950 hover:bg-fountain-blue-500 dark:hover:bg-yellow-500 transition-all duration-300 ease-in-out rounded-md py-2 mt-4 w-full xl:col-span-3 disabled:bg-slate-300 disabled:text-stone-800"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>

<script is:inline>
  const form = document.querySelector("form");
  const btnSend = document.getElementById("btnSend");
  const successMessage = document.createElement("p"); // Crear un elemento para el mensaje de éxito
  successMessage.style.display = "none"; // Ocultarlo por defecto
  successMessage.style.color = "green"; // Puedes estilizarlo según tus preferencias
  successMessage.textContent = "Mensaje enviado satisfactoriamente";
  form.appendChild(successMessage); // Añadir el mensaje al formulario

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Cambiar el texto del botón a "Enviando..."
    btnSend.textContent = "Enviando...";
    btnSend.disabled = true; // Deshabilitar el botón para evitar envíos múltiples

    const formData = new FormData(form);
    const res = Object.fromEntries(formData);
    const payload = JSON.stringify(res);

    try {
      // Realiza la petición POST
      const response = await fetch("/api/mail.js", {
        method: "POST",
        body: payload,
        headers: {
          "Content-Type": "application/json",
        },
      });

      if (!response.ok) {
        throw new Error("Error en la petición");
      }

      const data = await response.json(); // Procesa la respuesta JSON
      console.log("Respuesta exitosa:", data);

      // Mostrar el mensaje de éxito
      successMessage.style.display = "block";

      // Restablecer el formulario
      form.reset();
    } catch (error) {
      // Maneja los errores
      console.error("Hubo un error con la solicitud:", error);
      alert("Ocurrió un error al enviar el mensaje. Inténtalo de nuevo.");
    } finally {
      // Restaurar el texto del botón y habilitarlo
      btnSend.textContent = "Enviar";
      btnSend.disabled = false;
    }
  });
</script>
