---
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<section class="container mx-auto z-[99]" id="home">
  <header
    class="fixed flex justify-between text-xl items-center p-5 container mx-auto z-50"
  >
    <div
      class="flex items-center justify-center gap-2 [&>span]:hover:text-yellow-500 [&>span]:hover:border-yellow-500"
    >
      <span
        class="w-10 h-10 border border-stone-700 text-stone-700 dark:text-fountain-blue-500 dark:border-fountain-blue-500 rounded-full flex items-center justify-center transition-all ease-in-out duration-300"
        >λ~
      </span>
      <span
        class="text-stone-700 dark:text-fountain-blue-500 transition-all ease-in-out duration-300"
        >developercode</span
      >
    </div>
    <div class="flex items-center gap-5">
      <Navigation />
      <ThemeToggle />
    </div>
  </header>
</section>

<style>
  header {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg backdrop-blur dark:bg-[#323B47];
    }
  }
</style>
<!-- 323B47 -->
