---
import { Icons } from "./Icons";
import Navigation from "./Navigation.astro";

const SOCIAL_LINKS = [
    {
        component: Icons.github,
        title: 'github',
        href: 'https://github.com/joruizdev',
        icon: 'github.svg'
    },
    {
        component: Icons.linkedin,
        title: 'linkedin',
        href: 'https://www.linkedin.com/in/jose-ruiz-7b5b3b1b3/',
        icon: 'linkedin.svg'
    }
]
---

<header class="flex justify-between text-xl items-center p-5 text-[#00ADB5]">
  <div class="flex items-center justify-center">
    <span class="w-10 h-10 border-2 border-[#00ADB5] rounded-full flex items-center justify-center">λ~</span>
    <span class="hidden">developercode</span>
  </div>
  <ul class="flex justify-center items-center gap-4">
      {
        SOCIAL_LINKS.map(({component: Icon, href}) => {
          return (
          <li class="border border-[#00ADB5] hover:border-stone-900 hover:bg-stone-100  w-8 h-8 p-1 rounded-full flex items-center justify-center text-[#00ADB5] hover:text-stone-900 transition-all duration-500 ease-in-out">
            <a href={href} target="_blank">
              <Icon />
            </a>
          </li>
          )
        })
      }
  </ul>
  <Navigation />
</header>
