<section class="bg-center pb-24">
  <h2 id="about" class="text-center text-4xl text-primary pb-5">About me</h2>

  <p class="text-[#eee] px-5 pb-5">Desarrollador con enfoque por crear soluciones tecnológicas eficientes y efectivas. 
    Mi experiencia en el desarrollo de software abarca desde aplicaciones web hasta sistemas de gestión empresarial, 
    siempre buscando ofrecer una experiencia de usuario óptima y una funcionalidad de primer nivel.
  </p>
  <p class="text-[#eee] px-5">
    Me encanta trabajar en equipo y aprender de nuevas tecnologías y tendencias en el mercado. Si estás buscando un desarrollador con un enfoque orientado a resultados, ¡no dudes en contactarme!
  </p>
</section>