---
import ContactForm from '../ContactForm.jsx'
---
<section class="bg-center pb-24">
    <h2 id="contact" class="text-center text-4xl text-primary pb-5">Contact</h2>
    <p class="text-[#EEEEEE] px-5 pb-5">
        No dude en contactarme para cualquier consulta o duda que tenga, estaré encantado de atenderle.
    </p>
    <ContactForm />
</section>