---
import Header from "../Header.astro";
import { github, linkedin, githubXl, linkedinXl } from '../Icons'

const SOCIAL_LINKS = [
    {
        component: github,
        title: 'github',
        href: 'https://github.com/joruizdev',
        icon: 'github.svg'
    },
    {
        component: linkedin,
        title: 'linkedin',
        href: 'https://www.linkedin.com/in/jose-ruiz-7b5b3b1b3/',
        icon: 'linkedin.svg'
    }
]

const SOCIAL_LINKS_XL = [
    {
        component: githubXl,
        title: 'github',
        href: 'https://github.com/joruizdev',
        icon: 'github.svg'
    },
    {
        component: linkedinXl,
        title: 'linkedin',
        href: 'https://www.linkedin.com/in/jose-ruiz-7b5b3b1b3/',
        icon: 'linkedin.svg'
    }
]


---
<section class="h-screen bg-center">
<!--     <div class="px-5 flex flex-col gap-4">
        <h1 class="capitalize text-5xl pt-56 font-semibold  xl:text-9xl xl:pt-80 leading-none  text-transparent py-2 bg-clip-text bg-gradient-to-r from-fountain-blue-400 to-fountain-blue-800">Jorge Ruiz</h1>
        <p class="text-[#fff] xl:text-4xl xl:pt-10">Desarrollador de software</p>
        <div class="hidden xl:flex flex-row gap-5 mt-10">
            {
              SOCIAL_LINKS_XL.map(({component: Icon, href}) => {
                    return (
                    <li class="border border-fountain-blue-500 hover:border-stone-700 hover:bg-stone-100  w-14 h-14 p-1 rounded-full flex flex-row items-center justify-center text-fountain-blue-500 hover:text-stone-900 transition-all duration-500 ease-in-out">
                        <a href={href} target="_blank">
                            <Icon />
                        </a>
                    </li>
                    )
                })
            }
        </div>
    </div> -->
    <div class="px-5 flex flex-col gap-4 h-full">
      <Header />
      <div class="flex items-center justify-center flex-col h-full xl:items-start">
        <h1 class="capitalize text-5xl font-semibold  xl:text-7xl leading-none text-transparent py-2 bg-clip-text bg-gradient-to-r from-fountain-blue-400 to-fountain-blue-800">Jorge Ruiz</h1>
        <p class="text-[#fff]/70 xl:text-2xl">Desarrollador de software</p>
        <div class="hidden xl:flex flex-row gap-2 mt-10">
            {
              SOCIAL_LINKS_XL.map(({component: Icon, href}) => {
                    return (
                    <li class="border border-fountain-blue-500 hover:border-stone-700 hover:bg-stone-100  w-7 h-7 p-1 rounded-full flex flex-row items-center justify-center text-fountain-blue-500 hover:text-stone-900 transition-all duration-500 ease-in-out">
                        <a href={href} target="_blank">
                            <Icon />
                        </a>
                    </li>
                    )
                })
            }
        </div>
        <footer class="px-5 py-5">
          <ul class="flex items-center gap-4 xl:hidden">
              {
                  SOCIAL_LINKS.map(({component: Icon, href}) => {
                      return (
                      <li class="border border-fountain-blue-500 hover:border-stone-900 hover:bg-stone-100  w-8 h-8 p-1 rounded-full flex items-center justify-center text-fountain-blue-500 hover:text-stone-900 transition-all duration-500 ease-in-out">
                          <a href={href} target="_blank">
                              <Icon />
                          </a>
                      </li>
                      )
                  })
              }
      </ul>
      </footer>
      </div>
      
  </div>
</section>