@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Caskaydia Code';
  src: url(../fonts/woff2/CascadiaCode.woff2);
}

body {
  margin: 0;
  font-family: 'Caskaydia Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-stone-100 text-stone-800
}